nav {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
}

[menu-option] {
    flex: 3;
}

[search-option] {
    flex: 1;
    display: flex;
}

.txt-area {
    flex: 3;
}

.srch-area {
    flex: 1;
}


